<div class="todo" [ngClass]="{ completed: todo.completed }" id="{{ todo.id }}">
  <div class="header">
    <div>Created at: {{ todo.createdAt.toLocaleString() }}</div>
    <mat-chip-list aria-label="User selection">
      <div style="margin-top: 2px;">Created for:</div>
      <mat-chip *ngFor="let user of todo.createdForNames">
        {{user}}
      </mat-chip>
    </mat-chip-list>
  </div>
  <div class="divider"></div>

  <p>{{ todo.text }}</p>

  <div class="actions">

    <button
      mat-raised-button
      color="primary"
      class="btn"
      routerLink="/todos/edit/{{todo.id}}"
      *ngIf="!todo.completed"

    >
      Edit
    </button>

    <button
      mat-raised-button
      color="accent"
      class="btn"
      *ngIf="!todo.completed"
      (click)="onComplete()"
    >
      Complete
    </button>

    <button
      mat-raised-button
      color="base"
      *ngIf="todo.completed" (click)="cancel()">
      Cancel
    </button>

  </div>
</div>
