<mat-card>
  <mat-card-title>Details for user {{user.name}}</mat-card-title>
</mat-card>
<mat-card>
  <mat-card-header>
    <mat-icon class="icon" mat-card-avatar>person</mat-icon>
    <mat-card-title>Name: {{user.name}}</mat-card-title>
    <mat-card-title>Email: {{user.email}}</mat-card-title>
  </mat-card-header>
</mat-card>

<mat-card>
  <mat-card-title>
    <div>Todos</div>
    <div class="todos">
      <app-todo [@fadeAnimation]="'in'" *ngFor="let todo of todos" [todo]="todo" cdkDrag [cdkDragData]="todo">{{todo}}></app-todo>
    </div>
  </mat-card-title>
</mat-card>

