<mat-card class="form-container">
  <mat-card-header>
    <mat-card-title>Edit User</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form
      class="form-wrapper"
      [formGroup]="userEditForm"
    >
      <mat-form-field class="form-field">
        <mat-label>Name</mat-label>
        <input formControlName="name" type="text" matInput value="{{user.name}}">
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label>Email</mat-label>
        <input formControlName="email" type="email" matInput value="{{user.email}}"/>
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-actions [align]="'end'">
    <button mat-button routerLink="../../">Cancel</button>
    <button id="saveUser" mat-raised-button color="accent" (click)="submit()">
      Save
    </button>
  </mat-card-actions>
</mat-card>
